@import 'variables';

#intro {
	padding: 140px 20px 20px 20px;
	background-color: $primaryColor;	
	box-shadow: 5px 0 10px 1px $shadowColor, -5px 0 10px 1px $shadowColor;
	transition: all 1s;
	* {
		color: white;
	}
	a {		
		font-size: 26px;
		transition: all 500ms;
		&:hover {
			transform: scale(2);			
		}
	}
}

@media (min-width: 768px) {
	#intro {
		height: 100vh;
	}
}

.hide {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}