@import 'variables';

body {
	font-family: $mainFont, sans-serif;
}

header {
	background-color: $secondaryColor;
	width: 100%;
	height: 100px;
	position: absolute;
	margin-top: 20px;
	z-index: 100;
	color: white;	
	box-shadow: 0 5px 10px 1px $shadowColor, 0 -5px 10px 1px $shadowColor;
	div {
		font-family: $titleFont;
		padding: 5px 0 0 32px;		
		font-size: 25px;
	}
	span {
		padding: 5px 50px;		
		font-size: 16px;	
	}
	
}

.subcontainer {	
	opacity: 0;
	transition: opacity 1s;
	.box {
		width: 100%;
		height: 100%;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 5px 5px 15px 1px $shadowColor;
		text-align: center;
		a {
			color: $primaryColor
		}
	}
	h3 {
		font-family: $titleFont;
		color: $secondaryColor;
	}	
	h4 {
		a {
			color: $primaryColor;	
		}
	}
	.tags {
		div {
			margin: 0 5px;
			padding: 0 5px;
			border-radius: 20px;
			background-color: $primaryColor;
			font-size: 12px;
			color: white;	
		}		
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	.items {
	    position: relative;
	    margin-top: 2px;
	    padding: 5px;
	    background-color: white;
	    text-align: center;
	    border: 1px solid grey;
	    transition: all 1s;
	}
	.hidden {
  		top: -100vh;
	}

	.slideDown {
 		animation: drop 1s ease-in;
	}
}	

.fadeIn {
	opacity: 1;
}

.projects {
	padding-top: 130px;	
}

@keyframes drop {
  0% {
    top: -100vh;
  }
  70% {
    top: 20px;
  }
  80% {
    top: -10px;
  }
  90% {
    top: 5px;
  }
  95% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

@media screen and (min-width: 768px) {
	.subcontainer {
		height: 100%;
		max-height: 100vh;
		overflow: hidden;
		padding-top: 130px;
	}
	.arrows {
		font-size: 130px !important;	
	}
	#title {
		font-size: 40px;
	}
}
@media (hover: hover) {
	#slider {
		transform: rotate(180deg);
		margin-top: 50px !important;
	}
}

.arrows {	
	font-size: 50px;
	color: $secondaryColor;
	text-shadow: 5px 5px 5px $shadowColor;
	transition: text-shadow 200ms;	
		&:hover {
			cursor: pointer;
		}
		&:active {
			text-shadow: none;
		}	
}

@keyframes animate {
	50% {
		box-shadow: 5px 5px 5px $secondaryColor	
	}
}

.chevron {
	&:nth-child(1)::before {
		animation-delay: -200ms;	
	}
  	&:nth-child(2)::before {
		animation-delay: -400ms;	
	}
  	&:nth-child(3)::before {
		animation-delay: -600ms;	
	}
  	&:nth-child(4)::before {
		animation-delay: -800ms;	
	}
  	&:nth-child(5)::before {
		animation-delay: -1000ms;	
	}
	&::before {
		display: block;
		position:relative;
		top:50px;
		content: "";
		height: 100px;
		width: 100px;	
		margin-top: -60px;
		transform: rotate(225deg);
		animation: animate 2s infinite;	
	}
}
#slider {
	margin-top: 100px;
}

.note {
	font-size: 12px;
}